.main_menu{
    background-color:rgba(252, 238, 214, 1);
    padding: 10px 0px;
    font-weight: bold;
}
.logo img{
    margin:0% 2%;
}
ul{
    list-style-type: none; 
    padding: 0;
    margin: auto 20px;
    display: flex;
    /* 垂直置中 */
    align-content: center;      
    flex-wrap: wrap;    
}
ul li a{
    font-size: 15px;
    text-decoration:none ;
    vertical-align:middle;
    padding-bottom:5px;
    opacity:0.8;
    color:rgba(195,13,25,1);
}

ul li a:hover{
    color:rgb(159, 31, 40);
    border-bottom: 3px solid rgb(159, 31, 40);

}

.banner{
    padding: 0;
}